{% extends 'Home/base.html' %}
{% block content %}
    <section class="mainslider" id="mainslider">
        <!-- Slider Hero Starts -->
        <div class="rev_slider_wrapper fullwidthbanner-container dark-slider" data-alias="vimeo-hero" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
            <div id="rev_slider" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-18" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="img/revolution-slider/kenburns/thumb1.jpg" data-rotate="0" data-saveperformance="off" data-title="Ken Burns" data-description="">
                        <!-- MAIN IMAGE -->
                        <img alt="" src="/static/img/revolution-slider/kenburns/kenburns1.jpeg" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="180" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5; white-space: nowrap;">WE ARE DATALAB
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0 nowrap-normal text-center px-15" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6;">WORK WITH AN EXPERT TEAM OF INDUSTRY SPECIFIC ANNOTATORS
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-style_hover="cursor:default;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;"><i class="pe-7s-refresh"></i>
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','210','210','180']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" data-transform_in="y:100px;sX:1;sY:1;opacity:0;s:2000;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-responsive="off" style="z-index: 11; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="#about" class="custom-button slider-button scroll-to-target">GET FREE DEMO</a></div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-2" data-transition="zoomin" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="img/revolution-slider/kenburns/thumb2.jpg" data-rotate="0" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-description="">
                        <!-- MAIN IMAGE -->
                        <img alt="" src="/static/img/revolution-slider/kenburns/kenburns2.jpeg" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="180" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5; white-space: nowrap;">WE LABEL YOUR DATA
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0  nowrap-normal text-center px-15" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">WE ENSURE DATA QUALITY, ACCURACY, AND SPEED.
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-style_hover="cursor:default;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;"><i class="pe-7s-refresh"></i>
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','210','210','180']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" data-transform_in="y:100px;sX:1;sY:1;opacity:0;s:2000;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-responsive="off" style="z-index: 11; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="#about" class="custom-button slider-button scroll-to-target">learn more about us</a></div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-3" data-transition="zoomin" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="img/revolution-slider/kenburns/thumb3.jpg" data-rotate="0" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-description="">
                        <!-- MAIN IMAGE -->
                        <img alt="" src="/static/img/revolution-slider/kenburns/kenburns3.png" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="180" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5; white-space: nowrap;">WE CLEANUP YOUR <br> DATASETS
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0 nowrap-normal text-center px-15" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">WE SCALE YOUR IMAGE AND VIDEO ANNOTATIONS
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-style_hover="cursor:default;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;"><i class="pe-7s-refresh"></i>
                        </div>
                        <div class="tp-caption" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','210','210','180']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" data-transform_in="y:100px;sX:1;sY:1;opacity:0;s:2000;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-responsive="off" style="z-index: 11; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="#about" class="custom-button slider-button scroll-to-target">learn more about us</a></div>
                    </li>
                </ul>
                <div class="tp-static-layers"></div>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER -->
        <!-- Slider Hero Ends -->
    </section>
    <section id="about" class="about">
        <!-- Container Starts -->
        <div class="container">
            <!-- Main Heading Starts -->
            <div class="text-center top-text">
                <h1><span>About</span> Us</h1>
                <h4>Who We Are</h4>
            </div>
            <!-- Main Heading Ends -->
            <!-- Divider Starts -->
            <div class="divider text-center">
                <span class="outer-line"></span>
                <span class="fa fa-user" aria-hidden="true"></span>
                <span class="outer-line"></span>
            </div>
            <!-- Divider Ends -->
            <!-- About Content Starts -->
            <div class="row about-content">
                <div class="col-sm-12 col-md-12 col-lg-6 about-left-side">
                    <h3 class="title-about">WE ARE <strong>DATALAB</strong></h3>
                    <hr>
                    <p>Our focus is to create value and improve our partners’ overall business performance by utilizing turnkey solutions proven to reduce costs and optimize resources while delivering maximum positive impact by utilizing the resources needed to scale and meet our clients’ expectations while also improving the lives of individuals. Utilize our solutions to help you optimize and improve your business performance.</p>
                    <!-- Tabs Heading Starts -->
                    <ul class="nav nav-tabs">
                        <li><a class="active" data-toggle="tab" href="#menu1">High Quality</a></li>
                        <li><a data-toggle="tab" href="#menu2">Reliable & Secure</a></li>
                        <li><a data-toggle="tab" href="#menu3">Flexible</a></li>
                    </ul>
                    <!-- Tabs Heading Ends -->
                    <!-- Tabs Content Starts -->
                    <div class="tab-content">
                        <div id="menu1" class="tab-pane fade in active">
                            <p>Quality assurance processes
                                World-class cross validation worksflow
                                SA scores 6th on the global proficiency index</p>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <p>We like deadline challenges
                                Human reviews ensures quality
                                Data security certificates</p>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <p>We start with your goals
                                Service oriented, mulitingual worksforce
                                Online, on premises or totally remote</p>
                        </div>
                    </div>
                    <!-- Tabs Content Ends -->
                    <a class="custom-button scroll-to-target" href="#portfolio">Our Portfolio</a>
                </div>
                <div class="col-md-12 col-lg-6 about-right">
                    <div class="about-right-side">
                        <img class="img-fluid" src="/static/img/lidar.gif" alt="">
                    </div>
                </div>
            </div>
            <!-- About Content Ends -->
        </div>
        <!-- Container Ends -->
    </section>
    <section class="projectmanager" id="projectmanager">
        <!-- Section Overlay Starts -->
        <div class="section-overlay">
            <!-- Container Starts -->
            <div class="container">
                <div class="row">
                    <!-- Image Starts -->
                    <div class="col-md-12 col-lg-12 col-xl-5">
                        <img class="img-fluid projectmanagerpicture" src="/static/img/projectmanager.jpg" alt="project manager">
                    </div>
                    <!-- Image Ends -->
                    <!-- Details Starts -->
                    <div class="col-md-12 col-lg-12 col-xl-6 offset-xl-1">
                        <h1>Project Manager</h1>
                        <h3>Miss Benedictor Kaburu</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus obcaecati pariatur officiis molestias eveniet harum laudantium sed optio iste. Iste, alias, non libero recusandae fugiat praesentium delectus inventore accusamus veniam!
                        </p>
                        <blockquote>
                            " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia "
                        </blockquote>
                        <!-- Social Media Starts -->
                        <div class="social-icons">
                            <ul class="social">
                                <li>
                                    <a class="twitter" href="#" title="twitter"></a>
                                </li>
                                <li>
                                    <a class="facebook" href="#" title="facebook"></a>
                                </li>
                                <li>
                                    <a class="skype" href="#" title="skype"></a>
                                </li>
                                <li>
                                    <a class="instagram" href="#" title="instagram"></a>
                                </li>
                                <li>
                                    <a class="linkedin" href="#" title="linkedin"></a>
                                </li>
                                <li>
                                    <a class="youtube" href="#" title="youtube"></a>
                                </li>
                            </ul>
                        </div>
                        <!-- Social Media Ends -->
                    </div>
                </div>
                <!-- Details Ends -->
            </div>
            <!-- Container Ends -->
        </div>
    </section>
    <section id="services" class="services">
        <!-- Container Starts -->
        <div class="container">
            <!-- Main Heading Starts -->
            <div class="text-center top-text">
                <h1><span>Our</span> Services</h1>
                <h4>What We Doing</h4>
            </div>
            <!-- Main Heading Starts -->
            <!-- Divider Starts -->
            <div class="divider text-center">
                <span class="outer-line"></span>
                <span class="fa fa-cogs" aria-hidden="true"></span>
                <span class="outer-line"></span>
            </div>
            <!-- Divider Ends -->
            <!-- Services Starts -->
            <div class="row services-box">
                <!-- Service Item Starts -->
                <div class="col-lg-4 col-md-12 col-sm-12 services-box-item">
                    <!-- Service Item Cover Starts -->
                    <span class="services-box-item-cover fa fa-leaf" data-headline="Annotation Services"></span>
                    <!-- Service Item Cover Ends -->
                    <!-- Service Item Content Starts -->
                    <div class="services-box-item-content fa fa-leaf">
                        <h2>Image Annotation and Data Labeling   </h2>
                        <p>We provide cost effective annotation services for machine learning, deep learning, logistics research labs and robotics companies along with artificial intelligence companies seeking high quality training data for diverse businesses by providing our clients customised image annotation services for various data analysis processes.</p>
                    </div>
                    <!-- Service Item Content Ends -->
                </div>
                <!-- Service Item Ends -->

                <!-- Service Item Starts -->
                <div class="col-lg-4 col-md-12 col-sm-12 services-box-item">
                    <!-- Service Item Cover Starts -->
                    <span class="services-box-item-cover fa fa-anchor" data-headline="BoundingG Boxes"></span>
                    <!-- Service Item Cover Ends -->
                    <!-- Service Item Content Starts -->
                    <div class="services-box-item-content fa fa-anchor">
                        <h2>BOUNDING BOXES, POLYGON, & LINES</h2>
                        <p>Datalab International  has vast experience on annotating all shapes and sizes and to label and detect objects accurately while define lanes.Object detection, anomaly detection, predictive maintenance, yield estimations, and many other use cases across multiple industries</p>
                    </div>
                    <!-- Service Item Content Ends -->
                </div>
                <!-- Service Item Ends -->

                <!-- Service Item Starts -->
                <div class="col-lg-4 col-md-12 col-sm-12 services-box-item">
                    <!-- Service Item Cover Starts -->
                    <span class="services-box-item-cover fa fa-comments-o" data-headline="Text"></span>
                    <!-- Service Item Cover Ends -->
                    <!-- Service Item Content Starts -->
                    <div class="services-box-item-content fa fa-comments-o">
                        <h2>TEXT</h2>
                        <p>Text classification and annotation for the implementation of natural language understanding and other text related machine learning models.
                            Translation, entity extraction, text classification, summarisation and annotation across multiple industries and domains.
                            </p>
                    </div>
                    <!-- Service Item Content Ends -->
                </div>
                <!-- Service Item Ends -->

                <!-- Service Item Starts -->
                <div class="col-lg-4 col-md-12 col-sm-12 services-box-item">
                    <!-- Service Item Cover Starts -->
                    <span class="services-box-item-cover fa fa-support" data-headline="Audio"></span>
                    <!-- Service Item Cover Ends -->
                    <div class="services-box-item-content fa fa-support">
                        <h2>AUDIO</h2>
                        <p>Speech to text transcriptions for the implementation of Natural Language Processing models.
                            Speaker diarisation, call centre transcriptions, and various other use cases across multiple domains.
                            </p>
                    </div>
                </div>
                <!-- Service Item Ends -->

                <!-- Service Item Starts -->
                <div class="col-lg-4 col-md-12 col-sm-12 services-box-item">
                    <!-- Service Item Cover Starts -->
                    <span class="services-box-item-cover fa fa-cogs" data-headline="Validation Services"></span>
                    <!-- Service Item Cover Ends -->
                    <!-- Service Item Content Starts -->
                    <div class="services-box-item-content fa fa-cogs">
                        <h2>Data Capture & Validation Services</h2>
                        <p>High quality Data Capture, Data Entry and Validation Services, capturing data from millions documents annually. 
                            Datalab International  has experience is capturing Data from various resources such as hand written documents, Survey Forms, Bill of Lading, Scanned Invoices, Photographs, Live feeds, Checks, Directories, Business Cards, Health records Charts, Graphs, Questionnaires and Applications.
                            </p>
                    </div>
                    <!-- Service Item Content Ends -->
                </div>
                <!-- Service Item Ends -->

                <!-- Service Item Starts -->
                <div class="col-lg-4 col-md-12 col-sm-12 services-box-item">
                    <!-- Service Item Cover Starts -->
                    <span class="services-box-item-cover fa fa-file-pdf-o" data-headline="Transportation|Navigation"></span>
                    <!-- Service Item Cover Ends -->
                    <!-- Service Item Content Starts -->
                    <div class="services-box-item-content fa fa-file-pdf-o">
                        <h2>TRANSPORTATION AND NAVIGATION</h2>
                        <p>High quality training data to bring your AI models for self-driving vehicles to production faster.3D and LiDAR High-quality annotated point cloud and LiDAR data at scale for a wide range of use cases.Our 3D bounding boxes designate the direction of driving. Our roll, pitch, yaw, and heading angles bring your model to the next level.  </p>
                    </div>
                    <!-- Service Item Content Ends -->
                </div>
                <!-- Service Item Ends -->

            </div>
            <!-- Services Ends -->
        </div>
    </section>
    <section class="testimonials">
        <div class="section-overlay">
            <!-- Container Starts -->
            <div class="container">
                <!-- Main Heading Starts -->
                <div class="text-center top-text">
                    <h1><span>Happy</span> Customers</h1>
                    <h4>Testimonials</h4>
                </div>
                <!-- Main Heading Starts -->
                <!-- Blockquotes Starts -->
                <div id="quote-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper For Sliders Starts -->
                    <!-- Indicators Starts -->
                    <ol class="carousel-indicators mx-auto">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#quote-carousel" data-slide-to="1"></li>
                        <li data-target="#quote-carousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Indicators Ends -->
                    <div class="carousel-inner">
                        <!-- Quote #1 Starts -->
                        <div class="carousel-item active">
                            <blockquote>
                                <img class="rounded-circle img-fluid" src="/static/img/testimonial/client1.jpg" alt="client">
                                <p>Datalab international has helped our bussiness to get insight and utilize all the data our systems generata. Thankyou datalab Int, now we know the importance of data.</p>
                                <h5>Miss Elina Pool</h5>
                                <h6>Web Developer - Adobe</h6>
                            </blockquote>
                        </div>
                        <!-- Quote #1 Ends -->
                        <!-- Quote #2 Starts -->
                        <div class="carousel-item">
                            <blockquote>
                                <img class="rounded-circle img-fluid" src="/static/img/testimonial/client2.jpg" alt="client">
                                <p>Working with Datalab Int has been the best experience ever, your level of accuracy, not to mention dedication is overwhelming. Keep up the good work Datalab Int.</p>
                                <h5>Mr. Antoine Varane</h5>
                                <h6>Sales Manager - Twitter</h6>
                            </blockquote>
                        </div>
                        <!-- Quote #2 Ends -->
                        <!-- Quote #3 Starts -->
                        <div class="carousel-item">
                            <blockquote>
                                <img class="rounded-circle img-fluid" src="/static/img/testimonial/client3.jpg" alt="client">
                                <p>It has been Three months working with Datalab International, and were lovig the course our bussiness is taking. Datalab handles your data with exeptional expertise.</p>
                                <h5>Miss Lucy Walker</h5>
                                <h6>Project Manager - Envato</h6>
                            </blockquote>
                        </div>
                        <!-- Quote #3 Ends -->
                    </div>
                    <!-- Wrapper For Sliders Ends -->
                </div>
                <!-- Blockquotes Ends -->
            </div>
            <!-- Container Ends -->
        </div>
    </section>
    <section class="facts">
        <div class="section-overlay">
            <!-- Container Starts -->
            <div class="container">
                <!-- Main Heading Starts -->
                <div class="text-center top-text">
                    <h1><span>Cool</span> Facts</h1>
                    <h4>our numbers</h4>
                </div>
                <!-- Main Heading Starts -->
                <!-- Fact Badges Starts -->
                <div class="fact-badges">
                    <div class="row">
                        <!-- Fact Badge Item Starts -->
                        <div class="col-md-3 col-sm-6">
                            <i class="fa fa-briefcase"></i>
                            <h2>
                                <span><strong class="badges-counter">77</strong>+</span>
                            </h2>
                            <h4>Projects</h4>
                        </div>
                        <!-- Fact Badge Item Ends -->
                        <!-- Fact Badge Item Starts -->
                        <div class="col-md-3 col-sm-6">
                            <i class="fa fa-clock-o"></i>
                            <h2>
                                <span><strong class="badges-counter">80</strong>+</span>
                            </h2>
                            <h4>Hours Work</h4>
                        </div>
                        <!-- Fact Badge Item Ends -->
                        <!-- Fact Badge Item Starts -->
                        <div class="col-md-3 col-sm-6">
                            <i class="fa fa-home"></i>
                            <h2>
                                <span><strong class="badges-counter">18</strong>+</span>
                            </h2>
                            <h4>Offices</h4>
                        </div>
                        <!-- Fact Badge Item Ends -->
                        <!-- Fact Badge Item Starts -->
                        <div class="col-md-3 col-sm-6">
                            <i class="fa fa-user"></i>
                            <h2>
                                <span><strong class="badges-counter">67</strong>+</span>
                            </h2>
                            <h4>Clients</h4>
                        </div>
                        <!-- Fact Badge Item Ends -->
                    </div>
                </div>
                <!-- Fact Badges Ends -->
            </div>
            <!-- Container Ends -->
        </div>
    </section>
    <section class="newsletter">
        <div class="section-overlay">
            <!-- Container Starts -->
            <div class="container">
                <!-- Main Heading Starts -->
                <div class="text-center top-text">
                    <h1><span>our</span> newsletter</h1>
                    <h4>Keep in touch</h4>
                </div>
                <!-- Main Heading Ends -->
                <div class="newsletter-content">
                    <p class="text-center">Sign up to our newsletter subscription and be the first to know about<br> Important news <span> & </span> Amazing offers <span> & </span>Discounts</p>
                    <!-- Newsletter Form Starts -->
                    <form class="form-inputs">
                        <!-- Newsletter Form Input Field Starts -->
                        <div class="col-md-12 form-group custom-form-group p-0">
                            <span class="input custom-input">
                                <input placeholder="Enter Your Email" class="input-field custom-input-field" type="text" />
                                <label class="input-label custom-input-label" >
                                    <i class="fa fa-envelope-open-o icon icon-field"></i>
                                </label>
                            </span>
                        </div>
                        <!-- Newsletter Form Input Field Ends -->
                        <!-- Newsletter Form Submit Button Starts -->
                        <button id="submit" name="submit" type="submit" class="custom-button" title="Send">Subscribe Now</button>
                        <!-- Newsletter Form Submit Button Ends -->
                    </form>
                    <!-- Newsletter Form Ends -->
                </div>
            </div>
            <!-- Container Ends -->
        </div>
    </section>
    <section class="videopromotion">
        <div class="section-overlay">
            <!-- Container Starts -->
            <div class="container">
                <!-- Main Heading Starts -->
                <div class="text-center top-text">
                    <h1><span>Video</span> Promo</h1>
                    <h4>Made with love for you</h4>
                </div>
                <!-- Main Heading Ends -->
                <div class="video-content">
                    <p class="text-center">We’re developing a number of special projects if interested,<br> Don't hesitate to see the promo video</p>
                    <!-- Video Play Starts -->
                    <div class="magnific-popup-gallery">
                        <div class="btn-wrapper text-center"><a class="image-wrap mfp-youtube" href="https://www.youtube.com/watch?v=ZDDtm7a-74g"></a></div>
                    </div>
                    <!-- Video Play Ends -->
                </div>
            </div>
            <!-- Container Ends -->
        </div>
    </section>
    <section id="contact" class="contact">
        <!-- Container Starts -->
        <div class="container">
            <!-- Main Heading Starts -->
            <div class="text-center top-text">
                <h1><span>Contact</span> Us</h1>
                <h4>Get in Touch</h4>
            </div>
            <!-- Main Heading Starts -->
            <!-- Divider Starts -->
            <div class="divider text-center">
                <span class="outer-line"></span>
                <span class="fa fa-envelope" aria-hidden="true"></span>
                <span class="outer-line"></span>
            </div>
            <!-- Divider Ends -->
        </div>
        <!-- Container Ends -->
        <!-- Map Section Starts -->
        <div class="info-map">
            <div class="google-map">
                <div class="gmap_container">
                    <div id="gmap_canvas"></div>
                </div>
            </div>
        </div>
        <!-- Info Map Boxes Starts -->
        <div class="container">
            <div class="row info-map-boxes">
                <!-- Left Info Map Box Starts -->
                <div class="col-md-6 col-sm-12">
                    <div class="info-map-boxes-item fa fa-clock-o">
                        <h1>Working Hours</h1>
                        <p>Monday-Thursday : 08:00–17:00
                            <br>Friday & Saturday : 08:00–12:30
                            <br>Sunday - Close</p>
                    </div>
                </div>
                <!-- Left Info Map Box Ends -->
                <!-- Right Info Map Box Starts -->
                <div class="col-md-6 col-sm-12">
                    <div class="info-map-boxes-item fa fa-phone">
                        <h1>Phone &amp; Online</h1>
                        <p>Phone : +254 706-932-359
                            <br>Fax : Null.
                            <br><a href="#">info@datalabint.com</a></p>
                    </div>
                </div>
                <!-- Right Info Map Box Ends -->
            </div>
        </div>
        <!-- Info Map Boxes Ends -->
    </section>
    <section class="contactform">
        <div class="section-overlay">
            <div class="container">
                <!-- Main Heading Starts -->
                <div class="text-center top-text">
                    <h1><span>Send Us</span> an email</h1>
                    <h4>We are very responsive to messages</h4>
                </div>
                <!-- Main Heading Ends -->
                <div class="form-container">
                    <!-- Contact Form Starts -->
                    <form class="formcontact" method="POST">
                        {% csrf_token %}
                        <div class="row form-inputs">
                            <!-- First Name Field Starts -->
                            <div class="col-md-6 form-group custom-form-group">
                                <span class="input custom-input">
                                    <input placeholder="First Name" class="input-field custom-input-field" id="firstname" name="firstname" type="text" required data-error="NEW ERROR MESSAGE">
                                    <label class="input-label custom-input-label" >
                                        <i class="fa fa-user icon icon-field"></i>
                                    </label>
                                </span>
                            </div>
                            <!-- First Name Field Ends -->
                            <!-- Last Name Field Starts -->
                            <div class="col-md-6 form-group custom-form-group">
                                <span class="input custom-input">
                                    <input placeholder="Last Name" class="input-field custom-input-field" id="lastname" name="lastname" type="text" required>
                                    <label class="input-label custom-input-label" >
                                        <i class="fa fa-user-o icon icon-field"></i>
                                    </label>
                                </span>
                            </div>
                            <!-- Last Name Field Ends -->
                            <!-- Message Field Starts -->
                            <div class="form-group custom-form-group col-md-12">
                                <textarea placeholder="Message" id="message" name="message" cols="45" rows="7" required></textarea>
                            </div>
                            <!-- Message Field Ends -->
                            <!-- Email Name Field Starts -->
                            <div class="col-md-6 form-group custom-form-group">
                                <span class="input custom-input">
                                    <input placeholder="Email" class="input-field custom-input-field" id="email" name="email" type="text" required>
                                    <label class="input-label custom-input-label" >
                                        <i class="fa fa-envelope icon icon-field"></i>
                                    </label>
                                </span>
                            </div>
                            <!-- Email Name Field Ends -->
                            <!-- Submit Button Starts -->
                            <div class="col-md-6 submit-form">
                                <button  type="submit" class="custom-button" >Send Message</button>
                            </div>
                            <!-- Submit Button Ends -->
                            <!-- Form Submit Message Starts -->
                            <div class="col-sm-12 text-center output_message_holder d-none">
                                <p class="output_message"></p>
                            </div>
                            <!-- Form Submit Message Ends -->
                        </div>
                    </form>
                    <!-- Contact Form Ends -->
                </div>
            </div>
        </div>
    </section>
    <!-- Logos Section Ends -->
    <!-- Footer Section Starts -->
    <footer class="footer text-center">
        <!-- Container Starts -->
        <div class="container">
            <!-- Copyright Text Starts -->
            <p>Datalab International</p>
            <p>
                &copy; Copyright 2021 Datalab Int & Designed with <span>&#10084;</span> by <a target="_blank" href="#">Manuel-Bit</a>
            </p>
            <!-- Copyright Text Ends -->
            <!-- Social Media Links Starts -->
            <div class="social-icons">
                <ul class="social">
                    <li>
                        <a class="twitter" href="#" title="twitter"></a>
                    </li>
                    <li>
                        <a class="facebook" href="#" title="facebook"></a>
                    </li>
                    <li>
                        <a class="google" href="#" title="google"></a>
                    </li>
                    <li>
                        <a class="skype" href="#" title="skype"></a>
                    </li>
                    <li>
                        <a class="instagram" href="#" title="instagram"></a>
                    </li>
                    <li>
                        <a class="linkedin" href="#" title="linkedin"></a>
                    </li>
                    <li>
                        <a class="youtube" href="#" title="youtube"></a>
                    </li>
                </ul>
            </div>
            <!-- Social Media Links Ends -->
        </div>
        <!-- Container Ends -->
    </footer>
{% endblock %}